.container {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  width: 100%;
  height: 100%;
  justify-content: center;
}

/*/////////////////////////////////*/
/*//////////// NAVBAR /////////////*/
/*/////////////////////////////////*/

.navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

.logo {
  margin-left: 10px;
}

.dropdown {
  display: flex;
  position: relative;
  right: 40px;
  z-index: 10;
}

.navLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.navLinks p {
  padding: 1em;
}

@media only screen and (max-width: 800px) {
  .navLinks {
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 320px) {
  .navbar {
    justify-content: center;
  }
  
  .navLinks {
    flex-wrap: wrap;
  }

  .dropdown {
    top: -10px;
    left: 0px;
  }
}

/*/////////////////////////////////*/
/*//////////// HERO ///////////////*/
/*/////////////////////////////////*/

.herowrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../public/New Cypress finished web.png");
  background-size: auto;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.herotxt {
  color: white;
}

.herotxt h1 {
  font-size: 60px;
  margin-bottom: -30px;
}