/*/////////////////////////////////*/
/*////// FEATURED PROPERTIES //////*/
/*/////////////////////////////////*/

.featuredppropwrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.featuredproptitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fafafa;
}

.featuredpropgallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #fafafa;
}

.featuredpropcontainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-bottom: 20px;
  width: max-content; /* Max content here */
  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.featuredpropcontainer::-webkit-scrollbar {
  display: none;
}


.featuredlistwrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  font-size: 20px;
  margin-left: 100px;
}

.featuredlistwrap:hover {
  box-shadow: 0 5px 15px rgb(0 0 0 / 0.5);
}

.featuredpropphoto {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: -5px;
}

.featuredpropphoto img {
  width: 900px;
  height: 440px;
  object-fit: cover;
  
}

.featuredlistinfo {
  display: flex;
  height: 450px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 20px;
}

.featuredlistinfotop {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  margin-top: 10px;
  align-items: flex-start;
  justify-content: space-between;
}

#featuredPrice {
  margin-right: -60px;
}

.featuredlistinfotop p {
  font-size: medium;
  margin-top: -5px;
}

.featuredlistinfobot {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  align-items: flex-start;
  justify-content: flex-start;
}

.featuredlistinfowrap {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center !important;
  align-items: space-between !important;
  width: 100%;
  height: 70px;
  z-index: 3;
  margin-top: 45px;
}
.featuredlistinfo .featuredlistinfowrap {
  justify-content: flex-end;
}

.featuredlistinfobb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}

.featuredlistinfobb h1 {
  font-size: 20px;
  font-weight: 700;
}

.featuredlistinfobb p {
  margin-top: -5px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 14px;
}

.moreinfobuttonwrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: flex-end !important;
  justify-content: flex-end !important;
}

.moreinfobutton {
  background: #e41935;
  color: #ffffff;
  padding: 5px;
  font: var(--font-card);
  font-weight: 800;
  font-size: 16px;
  transition: 0.3s;
  border: none;
  cursor: pointer;
}

.scrollarrow {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  cursor: pointer;
  background-color: #fafafa;
}

.featuredscrollbutton {
  background: #e41935;
  color: #ffffff;
  transition: 0.3s;
  border: none;
}

.moreinfobutton:hover {
  box-shadow: 0 3px 8px rgb(0 0 0 / 0.3);
  color: #e41935;
  background: #ffffff;
}

.featuredscrollbutton:hover {
  box-shadow: 0 3px 8px rgb(0 0 0 / 0.3);
  color: #e41935;
  background: #ffffff;
}


@media only screen and (max-width: 1360px) {

  .featuredlistwrap {
    flex-wrap: wrap;
    width: 100%;
  }

  .featuredlistinfo {
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .featuredlistinfotop {
    flex-direction: column;
    height: 100%;
    width: 220px;
    align-items: center;
    justify-content: center;
  }

  .featuredlistinfobot {
    flex-direction: column;
    width: 200px;
    margin: 0px;
    padding: 0px;
  }

  .moreinfobutton {
    margin: 10px;
  }

}

@media only screen and (max-width: 1100px) {
  .featuredlistwrap {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 900px) {
  .featuredlistwrap {
    margin-left: 10px;
  }
  
  .featuredpropphoto img {
    width: 700px;
    height: 350px;
  }
  
  .featuredpropphoto {
    overflow: hidden;
  }

  .moreinfobuttonwrap {
    justify-content: center;
  }
}

@media only screen and (max-width: 500px) {

  .featuredlistwrap {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .featuredlistinfo {
    justify-content: center;
  }

  .featuredpropphoto img {
    width: 400px;
    height: 100%;
  }

  #featuredPrice {
    margin-right: 0px;
  }

  .moreinfobuttonwrap {
    justify-content: center;
  }
}

@media only screen and (max-width: 420px) {
  .featuredlistwrap {
    width: 100%;
    margin-left: 20px;
    /* margin-right: 20px; */
  }
  
  .featuredpropphoto img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 340px) {
  .featuredlistwrap {
    margin-left: 0px;
    /* margin-right: 0px; */
    width: 100%;
  }

  .featuredlistinfo {
    margin-left: 0px;
  }

  .featuredlistinfobb {
    position: relative;
    right: 30px;
  }
}

/*/////////////////////////////////*/
/*////// PROPERTY EVALUATION //////*/
/*/////////////////////////////////*/

.propEvalWrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #fafafa;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
}

.propEvalContain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  border-radius: 10px;
  background-color: #e41935;
}

.propEvalText {
  font-family: var(--font-card);
  font-size: 50px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.propEvalIcon {
  position: relative;
  left: 100px;
}

.propEvalIcon:hover {
  transform: rotate(-360deg) scale(1.5);
  transition: 0.8s;
}

#propEvalIconClose {
  padding-left: 20px;
}

.propEvalModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 100px;
} 

.propEvalModalInput {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.propEvalModalInput input {
  margin: 0px 20px 0px 5px;
  border: none;
}


@media only screen and (max-width: 1300px) {
  .propEvalIcon {
    position: static;
    padding-left: 30px;
    padding-right: 20px;
  }

  .propEvalModalInput {
    flex-direction: column;
    justify-content: center;
    width: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  .propEvalText {
    flex-direction: column;  
    padding-bottom: 20px;
    text-align: center;
  }
}


/*/////////////////////////////////*/
/*//// PROPERTY GRID (WRAPPER) ////*/
/*/////////////////////////////////*/

.propwrap {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
    font-family: var(--font-main);
}

.propgridwrap {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.propoptcontainer h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.propoptcity {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.propoptbutton {
    width: 130px;
    height: 50px;
    flex-wrap: wrap;
    background-color: #e41935;
    letter-spacing: 0.1em;
    font-family: var(--font-card);
    color: #ffffff;
    margin: 20px;
    text-align: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    font-size: 14px;
    font-weight: 800;
    border: 0.1px;
    transition: 0.3s;
    cursor: pointer;
}

.propoptbutton:hover {
  color: #e41935;
  background-color: #ffffff;
}

.propGridScrollWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.propGridScrollContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-bottom: 20px;
  width: max-content;
} 

.propGridScrollWrapper::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .propoptbutton {
    margin: 10px;
  }
}

/*/////////////////////////////////*/
/*///////// PROPERTY CARD /////////*/
/*/////////////////////////////////*/

.listwrap {
    display: flexbox;
    height: 350px;
    width: 300px;
    margin: 10px;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    font-size: 10px;
    cursor: pointer;
  }
  
  .mapwrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .listwrap:hover {
    box-shadow: 0 5px 15px rgb(0 0 0 / 0.5);
  }
  
  .propphoto {
    justify-content: center;
    align-items: center;
  }
  
  .propphoto img {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .listinfo {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

  .listinfotop {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .listinfotop p {
    font-size: medium;
    margin-top: -5px;
  }

  .listinfobot {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: -15px;
  }

  .listinfowrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
  }
  
  .listinfobb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }

  .listinfobb h1 {
    font-size: 20px;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
  }

  .listinfobb p {
    margin-top: -5px;
  }
  
  /* .listinfobbbottom {
    flex-direction: column;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
  } */


/*/////////////////////////////////*/
/*////// INDIVIDUAL PROPERTY //////*/
/*/////////////////////////////////*/

/* * {
  font-family: var(--font-main);
} */

.indListWrap {
  font-family: var(--font-main);
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.indListInfo {
  width: 100%;
  height: 100%;
  margin: 10px;
  padding: 10px;
  background-color: #EAE9E9;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indListInfo img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  width: 75%;
  height: 75%;
}

.indListPhotoRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}

#img-tray {
  width: auto;
  height: auto;
  max-height: 100px;
}

#img-tray:active {
  border: 2px solid #a11225;
}

.img-tray__scroll {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.img-tray__scroll-arrow {
  background: #e41935;
  color: #ffffff;
  font-size: 2rem;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
}

.img-tray__scroll-arrow:hover {
  box-shadow: 0 3px 8px rgb(0 0 0 / 0.3);
  color: #e41935;
  background: #ffffff;
}

.indListInfoDet {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 10px 50px 10px 50px;
  margin: 5px;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
  border-radius: 0.5em;
}

.indListInfoProp {
  display: flex;
  flex-direction: column;
}

.indListInfoBedbath {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.indListBedbath {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;

}

.indListIcon {
  color: #222;
}

#indListBbTitle {
  font-size: 12px;
}

#indListBbVal {
  font-size: 20px;
  font-weight: 900;
}


.indListInfoDetBtm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 5px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
  border-radius: 0.5em;
}

.indListBreak {
  border:none;
  height: 20px;
  width: 100%;
  height: 50px;
  margin-top: 0;
  border-bottom: 0.1px #333;
  box-shadow: 0 2px 2px -2px #111;
  margin: -40px auto 10px; 
}

#indListline {
  width: 100%;
}

.indListInfoDetBtmDesc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

#indListDesc {
  margin-bottom: 10px;
}

.indListinfoDetBtmSum {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 10px;
  justify-content: space-evenly;
  align-items: space-evenly;
}

.indListinfoDetBtmSum h3 {
  padding-left: 10px;
  padding-right: 10px;
}

#indListBuildDesc {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


#indListDesInfo {
  text-align: center;
}

.indListinfoDetBtn {
  background: #e41935;
  color: #ffffff;
  padding: 5px;
  font: var(--font-main);
  font-weight: 800;
  font-size: 16px;
  font-style: bold;
  border: none;
  transition: 0.5s;
}

.indListinfoDetBtn:hover {
  box-shadow: 0 3px 8px rgb(0 0 0 / 0.5);
  color: #e41935;
  background: #ffffff;
}

.indListPropDetInd {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.indListPropDetIndSub {
  flex-direction: column;
  width: 100%;
  padding: 5px;
}

.indListPropDetIndHead {
  display: flex;
  width: 100%;
  flex-direction: row;
}


/* ////////////////////////////////////////////////// */
/* //////////////////   MODAL  ////////////////////// */
/* ////////////////////////////////////////////////// */
/* 
.individual-listing__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  display: flex;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #fafafa;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.2);
  font-family: var(--font-card);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 50px;
  flex-wrap: wrap;
}

#modal-close {
  position: absolute;
  top: 3%;
  right: 2%;
  bottom: auto;
  left: auto;
  color: #e41935;
  transition: 0.5s;
}

#modal-close:hover {
  box-shadow: 0 3px 8px rgb(0 0 0 / 0.3);
}

.modal-content__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.modal-content__details {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#modal-details p {
  margin: 10px;
  padding-bottom: 20px;
}

#modal-details__input {
  padding: 5px;
  margin: 5px;
}

.modal__submit-button__wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
}

.modal__submit-button {
  width: 100%;
  height: 100%;
  background: #e41935;
  color: white;
  padding: 2px;
  height: 20%;
  width: 20%;
  margin-top: 5px;
  font-family: var(--font-card);
  font-weight: 800;
  letter-spacing: 0.1em;
  border: none;
  transition: 0.5s;
}

.modal__submit-button:hover {
  box-shadow: 0 3px 8px rgb(0 0 0 / 0.3);
  background: white;
  color: #e41935;
} */

/* ////////////////////////////////////////////////// */
/* /////////////////   MODAL END  /////////////////// */
/* ////////////////////////////////////////////////// */

@media screen and (max-width: 600px) {
  .indListWrap {
      padding: 0px;
      margin: 0px;
      width: 100%;
  }

  .indListInfo img {
      padding: 0px;
      margin: 0px;
      height: 100%;
      width: 100%;
  }

  #img-tray {
      margin: 0px 2px;
  }

  .indListInfo {
      margin: 0px;
      padding: 0px;
  }

  .indListInfoDet {
      margin: 0px;
      padding: 0px;
      width: 100%;
      flex-direction: column;
  }

  .indListInfoBedbath {
      padding: 0px;
  }

  #indListDescInfo {
      padding: 5px;
  }

  .indListPropDetInd {
      padding: 0px;
  }

  .indListPropDetIndHead {
      flex-wrap: wrap;
  }

  .indListBreak {
      margin: 0px;
      padding: 0px;
      width: 100%;
  }

  .indListAppWrap {
      width: 100%;
      padding: 0px;
      margin: 0px;
  }
  
}

